<%- include('../partials/sis_herad.ejs')%>
<link href="/assets/css/backgroundAvisos.css" rel="stylesheet" />

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-success">
            <button type="button" class="close" data-dismiss="modal" onclick="javascript:history.back()">×</button>
            <h6 class="modal-title">Atribuir técnico</h6>
        </div>

        <div class="modal-body">
            <h6 class="text-semibold">Selecione um técnico para realizar este atendimento</h6>
            <p><select class="form-control" name="id_tecnico" id="id_tecnico" onchange="mostraBot()"></select></p>

            <hr>
            

        </div>

        <div class="modal-footer" style="display: none;">
            <button type="button" class="btn btn-success" onclick="atribuiTecnico()">Salvar</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/js/Views/modal/atribuirAtendimento.js"></script>
